* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #f2ce97;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-container{
    background-color: #484956;
    width: 300px;
    height: 485px;
    color: white;
    padding: 50px 25px;
}

.header {
    font-size: 27px;
}

.sub-header {
    font-size: 28px;
    margin: 5px 0;
}

.line {
    height: 3px;
    width: 60px;
    background: #e37b62;
}

.avatar {
    border-radius: 100px;
    width: 55px;
    box-shadow: 5px 5px 20px 2px black;
}

.name {
    font-size: 20px;
    padding: 10px;
}

.left-footer {
    margin-top: 290px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right-container {
    width: 524px;
    height: 485px;
    background: white;
    padding: 55px 25px 15px 25px;
    line-height: 25px;
    font-size: 18px;
    color: #090e14;
}

.first-paragraph::first-letter { 
    font-size: 20px;
    font-weight: bold;
}

.second-paragraph {
    margin-top: 15px;
}

.time {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.right-side {
    display: flex;
}

.number {
    margin: 0 25px 0 10px;
    color: #c1c3c6;
}